<section id='about'>
  <div class='row'>
    <div class='three columns'>
      <%= image_tag 'https://s3-us-west-2.amazonaws.com/huntermeyer/images/hunter-meyer-pic.png', class: 'profile-pic' %>
    </div>
    <div class='nine columns main-col'>
      <h2>About Me</h2>
      <p style='margin-bottom: 10px'>
        I'm a left handed, blue-eyed fella who enjoys programming, traveling, strumming the guitar, playing yard games and board games, watching movies, and cooking out with the family. I spent the first 12 years of my life up in New York before moving on down to sunny Florida. After graduating from UCF and getting acquired in 2012, I relocated to the highlands of Denver, CO. I miss snowboarding. While wizzing away at mobile marketing and business development I caught the programming bug! A year later I moved back home, taught myself the basics of programming and decided to move to Portland, OR to attend a coding bootcamp. Four months later, I find myself here in Alpharetta, GA at a kick ass Rails shop churning out code! <br>
        I recently started getting into building iOS and Android apps. I'm excited for my future and I love my girlfriend!
      </p>
      <div class='row'>
        <div class='columns contact-details'>
          <p class='address'>
            <%= fa_icon('map-marker') %> <%= link_to('Alpharetta, GA', 'https://goo.gl/maps/vM5T2', target: '_blank') %><br>
            <%= fa_icon('comment') %> <%= link_to 'Contact Me', '#contact', class: 'smoothscroll' %>
          </p>
        </div>
        <div class='columns download'>
          <p>
            <%= external_link_to(url: 'https://s3-us-west-2.amazonaws.com/jrdevsresumes/resumes/1392610446741021/hunter_meyer_resume.pdf',
              html: 'button', icon: 'download', text: 'Download Resume') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
