<section id='about'>
  <div class='row'>
    <div class='three columns'>
      <%= image_tag 'https://huntermeyer.s3-us-west-2.amazonaws.com/images/hunter-meyer-pic.png', class: 'profile-pic' %>
    </div>
    <div class='nine columns main-col'>
      <h2>About Me</h2>
      <p style='margin-bottom: 10px'>
        I'm a left handed fella who enjoys programming, traveling, strumming the guitar, playing yard games and board games, watching movies, and cooking out with the family. I spent the first 12 years of my life up in New York before moving on down to sunny Florida. After graduating from UCF and getting acquired in 2012, I relocated to the highlands of Denver, CO. I miss snowboarding. While wizzing away at mobile marketing and business development I caught the programming bug! A year later I moved back home, taught myself the basics of programming and decided to move to Portland, OR to attend a coding bootcamp. Four months later, I landed myself in Alpharetta, GA at a kick ass Rails shop churning out code! <br>
        Several years later, I'm working remotely in Jacksonville, FL!
        I recently started getting into building iOS and Android apps. I'm excited for my future and I love my wife!
      </p>
      <div class='row'>
        <div class='columns contact-details'>
          <p class='address'>
            <%= fa_icon('map-marker fw') %> <%= link_to 'Jacksonville, FL', 'https://goo.gl/maps/JpLqvhdWde92', target: '_blank' %><br>
            <%= fa_icon('comment fw') %> <%= link_to 'Contact Me', '#contact', class: 'smoothscroll' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
