<section id='books'>
  <div class='row'>
    <h1>Check Out Some of My Favorite Books.</h1>
    <div style='display: flex; flex-wrap: wrap; justify-content: center;'>
      <% @books.each do |book| %>
        <!-- Screenshot -->
        <div class='portfolio-item book-item' style='padding: 20px;'>
          <div class='item-wrap'>
            <%= link_to "#book-modal-#{book.id}", title: book.title do %>
              <%= image_tag book.image_url, alt: book.title %>
              <div class='overlay'>
                <div class='portfolio-item-meta'>
                  <h5><%= book.title %></h5>
                  <p><%= book.author %></p>
                </div>
              </div>
              <div class='link-icon'><%= fa_icon('plus') %></div>
            <% end %>
          </div>
        </div>
        <!-- Modal -->
        <%= content_tag(:div, class: 'popup-modal mfp-hide', id: "book-modal-#{book.id}") do %>
          <div class='description-box'>
            <h4><%= book.title %></h4>
            <p><%= book.author %></p>
            <span class='categories'><%= fa_icon('tags') %><%= book.subject %></span>
          </div>
          <div class='link-box'>
            <%= link_to fa_icon('external-link', text: 'Open'), book.url, target: '_blank' %>
            <a class='popup-modal-dismiss'>Close</a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
