<div class='row education'>
  <div class='three columns header-col'>
    <h1><span>Education</span></h1>
  </div>
  <div class='nine columns main-col'>
    <% @educations.each do |e| %>
      <div class='row item'>
        <div class='twelve columns'>
          <h3><%= e.school %></h3>
          <p class='info'>
            <%= link_to e.concentration, e.url, target: '_blank' %><span class='bull'>&bull;</span><em class='date'><%= e.dates %></em>
          </p>
          <div class='info'>
            <i class='fa fa-map-marker'></i> <em class='location'><%= e.location %></em>
          </div>
          <p><%= toggle_display_of(e.description) %></p>
          <%= content_tag(:ul, style: 'margin-top: -30px;') do %>
            <span style='font-weight: bold;'>Awards</span>:
            <% e.highlights.split(',').each do |award| %>
              <li><%= award %></li>
            <% end %>
          <% end if e.highlights.present? %>
        </div>
      </div>
    <% end %>
  </div>
</div>
