<div class='row work'>
  <div class='three columns header-col'>
    <h1><span>Work</span></h1>
  </div>
  <div class='nine columns main-col'>
    <% @experiences.each do |e| %>
      <div class='row item'>
        <div class='twelve columns'>
          <h3><%= e.company %></h3>
          <p class='info'>
            <%= link_to e.title, e.url, target: '_blank' %><span class='bull'>&bull;</span><em class='date'><%= e.dates %></em>
          </p>
          <div class='info'><%= fa_icon('map-marker') %> <em class='location'><%= e.location %></em></div>
          <p><%= toggle_display_of(e.formatted_description) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
