<section id='portfolio'>
  <div class='row'>
    <div class='twelve columns collapsed'>
      <h1>Check Out Some of My Work.</h1>
      <div id='portfolio-wrapper' class='bgrid-quarters s-bgrid-thirds cf'>
        <% @works.each do |w| %>
          <!-- Screenshot -->
          <div class='columns portfolio-item'>
            <div class='item-wrap'>
              <%= link_to "#modal-#{w.id}", title: w.name do %>
                <%= image_tag w.image_url, alt: w.name %>
                <div class='overlay'>
                  <div class='portfolio-item-meta'>
                    <h5><%= w.name %></h5>
                    <p><%= w.caption %></p>
                  </div>
                </div>
                <div class='link-icon'><i class='fa fa-plus'></i></div>
              <% end %>
            </div>
          </div>
          <!-- Modal -->
          <%= content_tag(:div, class: 'popup-modal mfp-hide', id: "modal-#{w.id}") do %>
            <div class='description-box'>
              <h4><%= w.name %> | <%= w.position %></h4>
              <p><%= w.description %></p>
              <span class='categories'><i class='fa fa-tags'></i><%= w.tags %></span>
            </div>
            <div class='link-box'>
              <%= link_to w.url, target: '_blank' do %>
                <i class='fa fa-external-link'></i> Open
              <% end %>
              <a class='popup-modal-dismiss'>Close</a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
