<div class='row skill'>
  <div class='three columns header-col'>
    <h1><span>Skills</span></h1>
  </div>
  <div class='nine columns main-col'>
    <div class='bars'>
      <ul class='skills'>
        <% @skills.each do |s| %>
          <li><%= content_tag(:span, nil, class: "bar-expand #{s.css_class}") %><em><%= s.name %></em></li>
          <style>
            <%= ".#{s.css_class}" %> {
              width: <%= "#{s.width}%" %>;
              -moz-animation: <%= s.css_class %> 2s ease;
              -webkit-animation: <%= s.css_class %> 2s ease;
            }
            @-moz-keyframes <%= s.css_class %> { 0% { width: 0px; } 100% { width: <%= "#{s.width}%" %>; } }
            @-webkit-keyframes <%= s.css_class %> { 0% { width: 0px; } 100% { width: <%= "#{s.width}%" %>; } }
          </style>
        <% end %>
      </ul>
    </div>
  </div>
</div>
