<section id='contact'>
  <div class='row section-head'>
    <div class='twelve columns'>
      <div style='text-align: center; font-size: 80px; color: #fff;'><i class='fa fa-envelope'></i></div>
      <p class='lead' style='text-align: center; margin: 10px 0 5px 0;'>
        Want to chat? Shoot me a message using the form below.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='six columns centered'>
      <%= form_for @contact, remote: true, html: { id: 'contactForm' } do |f| %>
        <fieldset>
          <div>
            <%= f.text_field :name, id: 'contactName', size: '35', placeholder: 'Your name' %>
          </div>
          <div>
            <%= f.text_field :email, id: 'contactEmail', size: '35', placeholder: 'your@email.com' %>
          </div>
          <div>
            <%= f.text_area :content, row: '15', id: 'contactMessage', placeholder: 'Your message' %>
          </div>
          <div>
            <%= button_tag type: 'submit', class: 'submit' do %>
              <i class='fa fa-check'></i> Submit
            <% end %>
          </div>
        </fieldset>
      <% end %>
      <div id='message-warning'></div>
      <div id='message-success'>
        <i class='fa fa-check'></i>Your message was sent, thank you!<br>
      </div>
    </div>
  </div>
</section>
