<li><%= external_link_to(url: 'https://twitter.com/hunnafresh', title: 'Twitter', icon: 'twitter') %></li>
<li><%= external_link_to(url: 'https://github.com/huntermeyer', title: 'GitHub', icon: 'github') %></li>
<li><%= external_link_to(url: 'https://linkedin.com/in/hrmeyer', title: 'LinkedIn', icon: 'linkedin') %></li>
<li><%= external_link_to(url: 'https://stackoverflow.com/users/1953904/huntermeyer', title: 'Stack Overflow', icon: 'stack-overflow') %></li>
<li><%= external_link_to(url: 'https://news.ycombinator.com/submitted?id=huntermeyer', title: 'Hacker News', icon: 'hacker-news') %></li>
<li><%= external_link_to(url: 'https://soundcloud.com/hunnafresh', title: 'SoundCloud', icon: 'soundcloud') %></li>
