<!DOCTYPE html>
<html lane="en">
  <head>
    <%= render 'meta_tags' %>
    <title>HunterMeyer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="min-h-screen bg-gray-300">
    <%= yield %>
  </body>
</html>
