<!DOCTYPE html>
<html>
<head>
  <title>Hunter Meyer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='banner'>
    <p id='banner-text'><span class='small-letter'>H</span>unter <span class='small-letter'>M</span>eyer</p>
  </div>
  
  <div id='banner-links'>
    <%= link_to 'Home',     root_path,        class: 'links' %>
    <%= link_to 'About',    about_path,       class: 'links' %>
    <%= link_to 'Projects', projects_path,    class: 'links' %>
    <%= link_to 'Contact',  new_contact_path, class: 'links' %>
  </div>

  <div id='middle-banner'>
    <img src='assets/me.jpg' class='img-square' id='me-pic'>
  </div>
  
  <%= yield %>

  <!-- Follow Me -->
  <div id='follow-banner'>
    <span class='follow-me'>Follow Me</span>
  </div>

  <!-- Footer -->
  <div id='footer'>
    <div class='social'>
      <a href='https://github.com/HunterMeyer' target='_blank'>
        <img src='assets/g_c.png' alt='GitHub' title='GitHub' id='GitHub' class='social-icon'>
      </a>
      <a href='http://linkedin.com/in/HRMeyer' target='_blank'>
        <img src='assets/l_c.png' alt='LinkedIn' title='LinkedIn' id='LinkedIn' class='social-icon'>
      </a>
      <a href='http://twitter.com/HunnaFresh' target='_blank'>
        <img src='assets/t_c.png' alt='Twitter' title='Twitter' id='Twitter' class='social-icon'>
      </a>
    </div>
    <span id='footer-text'>&#169; 2014 Hunter Meyer</span>
  </div>

  <!-- Modal -->
  <div id='myModal' class='modal hide fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-header'>
      <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>X</button>
      <h3 id='myModalLabel'></h3>
    </div>
    <div class='modal-body'>
      <span class='more-info'></span>
    </div>
  </div>

</body>
</html>
