<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Hunter Meyer</title>
    <meta name='viewport'    content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='Homepage of Hunter Meyer'>
    <meta name='keywords'    content='Hunter Meyer'>
    <meta name='author'      content='Hunter Meyer'>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/flash' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/contact_form' %>


  </body>

</html>
