<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class='no-js' lang='en'> <!--<![endif]-->
  <head>
    <meta charset='utf-8'>
    <title>Hunter Meyer</title>
    <meta name='viewport'    content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name='description' content='Homepage of Hunter Meyer'>
    <meta name='keywords'    content='Hunter Meyer'>
    <meta name='author'      content='Hunter Meyer'>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tags %>
    <!-- <link rel="shortcut icon" href="favicon.png" > -->
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/contact_form' %>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'jquery.flexslider' %>
    <%= javascript_include_tag 'waypoints' %>
    <%= javascript_include_tag 'jquery.fittext' %>
    <%= javascript_include_tag 'magnific-popup' %>
    <%= javascript_include_tag 'init' %>
  </body>

</html>
