<!DOCTYPE HTML>
<html>
<head>
  <title>Credit Card Check</title>
  <%= stylesheet_link_tag    'credit_card', media: 'all' %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Kameron|Varela' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'credit_card' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
