<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'legislator', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'legislator' %>
    <%= javascript_include_tag 'bootstrap_modal' %>
    <title>Look up your Legislators</title>
  </head>
  <body>

    <div class='copyright'>
      <span>Developed by <%= link_to 'Hunter Meyer', 'http://huntermeyer.com' %></div>
    </div>

    <%= yield %>

    <div id='myModal' class='modal fade'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h4 class='modal-title'>Sponsored Bills</h4>
          </div>
          <div class='modal-body'>
            <ul id='bills'></ul>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
