<!DOCTYPE HTML>
<html>
  <head>
    <%= favicon_link_tag       'https://huntermeyer.s3-us-west-2.amazonaws.com/images/favicon.ico' %>
    <%= stylesheet_link_tag    'pig_latin' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'pig_latin' %>
    <%= javascript_include_tag 'bootstrap_dropdown' %>
    <meta name='google-site-verification' content='eC3xmiuTUgncy7epcHitY6zxiKlMh83qlN3zhnSAJ6Y'>
    <title>English to Pig Latin</title>
  </head>
  <body>

    <div class='copyright'>
      <span>Developed by <%= link_to 'Hunter Meyer', 'https://huntermeyer.com' %></span>
    </div>

    <%= yield %>

  </body>
</html>
