<!DOCTYPE HTML>
<html>
<head>
  <title>Triangle Evaluator</title>
  <%= stylesheet_link_tag    'triangle',   media: 'all' %>
  <%= javascript_include_tag 'jquery-1.10.2' %>
  <%= javascript_include_tag 'triangle' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>
</body>
</html>  
