<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>YouTV</title>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script|Fugaz+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'youtv', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://www.google.com/jsapi"></script>
  <%= javascript_include_tag 'youtv' %>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <%= yield %>
</body>
</html>
